av==10.0.0
click==8.1.7
cn2an==0.5.22
Flask==2.2.5
g2p_en==2.1.0
gradio==3.50.2
jieba==0.42.1
librosa==0.9.1
matplotlib
numpy
numba
phonemizer
scipy
tensorboard
Unidecode
amfm_decompy
jieba
transformers
pypinyin
cn2an
gradio
av
mecab-python3
loguru
unidic-lite
cmudict
fugashi
num2words
PyYAML
requests
pyopenjtalk; sys_platform == 'linux'
openjtalk; sys_platform != 'linux'
jaconv
psutil
GPUtil
vector_quantize_pytorch
g2p_en
sentencepiece
pykakasi
langid
funasr
modelscope